/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font: .875em/1.28571 sans-serif, Arial;
  margin: 0px;
  padding: 0px 0px 10px 0px;
  background-color: #F8F8F8;
}

h1,
h1 a {
  background-color: #9BCBEB;
  color: #FFF;
  margin: 0px;
  padding: 10px;
}

#container {
  width: 940px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.version {
  font-size: 14px;
  color: #888;
}

form input {
  line-height: 2.6em;
  width: 878px;
}

form button {
  background-color: #382E2C;
  color: #FFF;
  border: 2px solid #382E2C;
  line-height: 2.6em;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

ul li {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.alert {
  background-color: #fff9d8;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
